<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rainier.mapper.LogMapper" >
  <insert id="insertSelective" parameterType="com.rainier.model.Log" >

    insert into log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        userid,
      </if>
      <!--<if test="tablename != null" >
        tablename,
      </if>-->
      <if test="operation != null" >
        operation,
      </if>
      <if test="value != null" >
        value,
      </if>

      <if test="ip != null" >
        ip,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <!--<if test="tablename != null" >
        #{tablename,jdbcType=VARCHAR},
      </if>-->
      <if test="operation != null" >
        #{operation,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null" >
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>


  <select id="selectNumBer" resultType="java.lang.Integer">
    select count(*) from log l
    left join user u on u.id = l.userid where 1=1
      <if test="username!=null and username != ''">
        and u.name = #{username}
      </if>
      <!--<if test="tablename!=null">
        and tablename like #{tablename}
      </if>-->
      <if test="start!=null">
        and date &gt;= #{start}
      </if>
      <if test="end!=null">
        and date &lt;= #{end}
      </if>
  </select>

  <resultMap id="BaseResultMap" type="com.rainier.model.Log" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="VARCHAR" />
<!--    <result column="TableName" property="tablename" jdbcType="VARCHAR" />-->
    <result column="operation" property="operation" jdbcType="VARCHAR" />
    <result column="value" property="value" jdbcType="VARCHAR" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="TIMESTAMP" />
  </resultMap>

  <resultMap id="ResultMapWithBLOBs" type="com.rainier.model.Log" extends="BaseResultMap" >

    <result column="description" property="description" jdbcType="LONGVARCHAR" />
  </resultMap>

  <resultMap id="BaseResultMap2" type="com.rainier.model.Log" extends="ResultMapWithBLOBs">
    <collection property="user" ofType="com.rainier.model.User">
      <id column="uid" jdbcType="INTEGER" property="id" />
      <result column="uname" jdbcType="VARCHAR" property="name" />
    </collection>
  </resultMap>

  <select id="selectByPage" resultMap="BaseResultMap2" parameterType="com.rainier.model.Log" >
    select l.*,u.name as uname,u.id as uid from log l
    left join user u on u.id = l.userid where 1=1
    <if test="username!=null and username != ''">
      and u.name = #{username}
    </if>
    <!--<if test="tablename!=null">
      and tablename like #{tablename}
    </if>-->
    <if test="start!=null">
      and date &gt;= #{start}
    </if>
    <if test="end!=null">
      and date &lt;= #{end}
    </if>
    order by l.date asc
    LIMIT #{pageIndex},#{pageSize}
  </select>
</mapper>