<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rainier.mapper.MenuMapper" >

  <select id="queryMenuCount" resultType="java.lang.Integer">
    select count(*) from menu
      <where>
        <if test="name != null and name != ''">
          `name` like '%${name}%'
        </if>
      </where>
  </select>


  <select id="queryMenuList" resultType="com.rainier.model.Menu">
    select * from menu
      <where>
        <if test="name != null and name != ''">
          `name` like '%${name}%'
        </if>
      </where>
        order by displayOrder
      limit #{pageStart},#{pageSize}
  </select>

  <select id="queryMenu" resultType="map">
    select id,`name`,`level` from menu order by displayOrder
  </select>

  <insert id="addMenu">
    insert into menu (`name`,parentid,parentName,isDisplay,displayOrder,url,description,`level`)
    values (#{menu.name},#{menu.parentid},#{menu.parentName},#{menu.isDisplay},#{menu.displayOrder},#{menu.url},#{menu.description},#{menu.level});
  </insert>

  <update id="updateMenu" >
    update menu set `name`=#{menu.name},parentid=#{menu.parentid},parentName=#{menu.parentName},isDisplay=#{menu.isDisplay},displayOrder=#{menu.displayOrder},
    url=#{menu.url},description=#{menu.description},`level`=#{menu.level}
    where id = #{menu.id}
  </update>

  <resultMap id="BaseResultMap" type="com.rainier.model.Menu" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="parentid" property="parentid" jdbcType="INTEGER" />
    <result column="parentName" property="parentName" jdbcType="VARCHAR" />
    <result column="isDisplay" property="isDisplay" jdbcType="BIT" />
    <result column="displayOrder" property="displayOrder" jdbcType="INTEGER" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="INTEGER" />
  </resultMap>

  <select id="getModuleByLevelType" parameterType="map" resultMap="BaseResultMap">
    SELECT * FROM `menu` /*where isdisplay = 1*/
  </select>

  <delete id="deleteMenu">
    delete from menu
    <where>
      <if test="menuids !=null and menuids.size > 0">
        id in
        <foreach collection="menuids"  index="index" item="item" open="(" separator="," close=")"  >
          #{item}
        </foreach>
      </if>
    </where>
  </delete>

  <delete id="deleteRoleMenu">
    delete from rolemenu
    <where>
      <if test="menuids !=null and menuids.size > 0">
        menuid in
        <foreach collection="menuids"  index="index" item="item" open="(" separator="," close=")"  >
          #{item}
        </foreach>
      </if>
    </where>
  </delete>

  <select id="getUserMenu" resultType="java.util.LinkedHashMap">
    SELECT
        rm.id,
        rm.menuid,
        rm.roleid
    FROM

        rolemenu rm
    WHERE

        rm.roleid = #{roleid}
  </select>

  <select id="queryMenuByid" resultType="java.util.LinkedHashMap">
    select * from menu where id = #{menuid}
  </select>
</mapper>